streamlit
tornado==6.3.3

frontend
ngrok
pyngrok
fitz
PyPDF2
pymupdf
tiktoken
mistralai
openai
google-generativeai
anthropic
requests
bs4

pysqlite3-binary
chromadb


tornado==6.3.3
protobuf>=3.20,<5







